cffi==1.15.1
cryptography==37.0.4
prompt-toolkit==3.0.30
pycparser==2.21
wcwidth==0.2.5
attrs==22.1.0
cffi==1.15.1
cryptography==37.0.4
distlib==0.3.6
filelock==3.8.0
iniconfig==1.1.1
packaging==21.3
peewee==3.17.0
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.30
py==1.11.0
pycparser==2.21
pyparsing==3.0.9
pytest==7.1.2
tomli==2.0.1
virtualenv==20.16.4
wcwidth==0.2.5
